# Ignore the .git directory (Git metadata)
/.git/

# Ignore the coremods directory
/minecraft/coremods/

# Ignore the crash-reports directory
/minecraft/crash-reports/

# Ignore the defaultconfigs directory
/minecraft/defaultconfigs/

# Ignore the icon.png file
/minecraft/icon.png

# Ignore the logs directory
/minecraft/logs/

# Ignore the options.txt file
/minecraft/options.txt

# Ignore the resourcepacks directory
/minecraft/resourcepacks/

# Ignore the saves directory
/minecraft/saves/

# Ignore the schematics directory
/minecraft/schematics/

# Ignore the screenshots directory
/minecraft/screenshots/

# Ignore the server-resource-packs directory
/minecraft/server-resource-packs/

# Ignore the shaderpacks directory
/minecraft/shaderpacks/

# Ignore the texturepacks directory
/minecraft/texturepacks/

# Ignore the usercache.json file
/minecraft/usercache.json

# Ignore the usernamecache.json file
/minecraft/usernamecache.json

# Ignore the xaero directory
/minecraft/xaero/